/*========================
EM CREATIVE HEADER
=========================*/
.top_crt_style{
    padding: 20px 0;
	background: var(--brcolor);
}
.d_main_none,
.top_crt_style .main_sticky_l{
	display:none;
}
.transto_header_top_two .flex-column{
    gap: 10px;
}
.txmiddle_mgap{
	gap: 9px 30px;	
}
.single_header_address {
    text-align: left;
    display: flex;
    justify-content: end;
    gap: 0 10px;
}
.creative_header_icon i {
    font-size: 30px;
}
.creative_header_address_text h3{
    font-size: 16px;
    margin: 0;
	color: var(--white);	
}
.top_crt_style .site-title a, .top_crt_style p, .top_crt_style p a,.top_crt_style i{
    color: var(--white);
}
.creative_header_button .dtbtn {
    border-radius: 5px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    margin-left: 0;
    padding: 12px 26px;
    transition: .5s;
    background: #006ff9;
	color: var(--white);	
}
.creative_header_button .dtbtn:hover{
	background: var(--black);
	color: #fff;	
}

/* top cr menu css */
.top_crmenu_l{
    margin: 0;
    padding: 0;
}
.top_crmenu_l li {
    display: inline-block;
    margin-left: 10px;
    position: relative;
    list-style: none;
}
.top_crmenu_l li a {
    font-weight: 500;
	color: #fff;
}
.top_crmenu_l li a:hover{
	color:var(--black);
}
.top_crmenu_l ul {
    position: absolute;
    left: 0px;
    top: 100%;
    visibility: hidden;
    opacity: 0;
     width: 200px;
    text-align: left;
    z-index: 999;
	padding:10px;
}
.top_crmenu_l li ul li {
	display:block;
}
.top_crmenu_l li:hover ul {
    opacity: 1;
	transition: .5s;
    visibility: visible;
}
.top_crmenu_l .menu-item-has-children > a:after {
    margin-left: 5px;
    content: "\e64b";
    font-family: themify;
    font-size: 13px;
}

/* social icon middle menu */
.top_crmenu_i_list {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
}
.top_crmenu_i_list li {
    list-style: none;
}
.top_crmenu_i_list li a i{
    height: 42px;
    width: 42px;
    text-align: center;
    line-height: 42px;
    border-radius: 30px;
    transition: .5s;
	background: var(--black);
	color: #fff;	
}
.top_crmenu_i_list li a i:hover{
	background: var(--brcolor);	
}


/* middle menu woocommerce */
.top_crt_style .woocommerce-mini-cart__empty-message {
    color: var(--black);
}
.top_crt_style .mini_shop_content {
    margin-left: 0;
}
